@media (min-width: 320px) {
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body {
        width: 80%;
        margin: auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 5%;
        font-size: 100%;
        font-weight: 600;
        color: #663399;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
   
    .form input[type=radio] {
        display: none;
    }

    .label {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        text-align: center;
        width: 70%;
        padding-left: 1%;
        border: 0.1em solid #FFA500;
        font-size: 120%;
        font-weight: 600;
        user-select: none;
    }

    .label-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .cross {
        background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
        background-image: url("assets/cross.png");
        width: 8%;
        transform: rotate(45deg);
        transition: transform 250ms;
    }

    .label img {
        margin: 3%;
    }

    .mem-wrapper {
        align-self: center;
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: opacity 500ms;
    }

    label input[type="radio"]:checked ~ .mem-wrapper{
        visibility: visible; 
        height: fit-content;
        opacity: 1;
    }

    label input[type="radio"]:checked ~ .label-text .cross{
        transform: rotate(0);
    }
}


@media (min-width: 820px) {
    .header {
        margin: 5%;
        font-size: 200%;
        font-weight: 600;
    }
    .label {
        border-bottom: 0.1em solid #FFA500;
        font-size: 220%;
        font-weight: 600;
    }
}

@media (min-width: 1920px) {
    .header {
        margin: 5%;
        font-size: 500%;
        font-weight: 600;
    }

    .label {
        border-bottom: 0.1em solid #FFA500;
        font-size: 360%;
        font-weight: 600;
    }

    .label:hover, .label input:hover{
        cursor: pointer;
    }
    
    .label:hover .mem-wrapper{
        visibility: visible; 
        height: fit-content;
        opacity: 1;
    }

    .label:hover .label-text .cross{
        transform: rotate(0);
    }
}