@media (min-width: 320px) {
    *{
        box-sizing: border-box;
        margin: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        margin: 5%;
        font-size: 100%;
        font-weight: 600;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .lable {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        border-bottom: 0.2em solid violet;
        font-size: 120%;
        font-weight: 600;
    }

    .lable img {
        margin: 3%;
    }

    /*img {
        display: block;
    }*/

    .mem-wrapper {
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: opacity 1s;
    }

    .lable input[type="radio"]:checked ~ .mem-wrapper{
        visibility: visible; 
        height: fit-content;
        opacity: 1;
        
    }

}


@media (min-width: 820px) {
    .header {
        margin: 5%;
        font-size: 200%;
        font-weight: 600;
    }
    .lable {
        border-bottom: 0.1em solid violet;
        font-size: 220%;
        font-weight: 600;
    }
}

@media (min-width: 1920px) {
    .header {
        margin: 5%;
        font-size: 500%;
        font-weight: 600;
    }

    .lable {
        border-bottom: 0.1em solid violet;
        font-size: 360%;
        font-weight: 600;
    }

    .lable:hover, .lable input:hover{
        cursor: pointer;
    }
    
    .lable:hover .mem-wrapper{
        visibility: visible;  
    }
}